In [ ]:
import numpy as np 
import pandas as pd 
import json

In [ ]:
Customers = pd.read_csv('/Users/ujjwalraj/Desktop/Project Import Material 1/customers.csv')
Accounts = pd.read_csv('/Users/ujjwalraj/Desktop/Project Import Material 1/accounts.csv')
Transactions = pd.read_csv('/Users/ujjwalraj/Desktop/Project Import Material 1/transactions.csv')
Loans = pd.read_json('/Users/ujjwalraj/Desktop/Project Import Material 1/loans.json')
Credit_Cards = pd.read_json('/Users/ujjwalraj/Desktop/Project Import Material 1/credit_cards.json')
Branchs = pd.read_csv('/Users/ujjwalraj/Desktop/Project Import Material 1/branches.csv')
Support_Tickets = pd.read_json('/Users/ujjwalraj/Desktop/Project Import Material 1/support_tickets.json')

# Customers Table

In [ ]:
Customers.head()

In [ ]:
Customers.isnull().sum().any()

In [ ]:
Customers.duplicated().sum()

In [ ]:
Customers.info()

In [ ]:
# Column name 'join_date' should be in Date and Time

In [ ]:
Customers['join_date'] = pd.to_datetime(Customers['join_date'], format = '%Y-%m-%d')

In [ ]:
import mysql.connector  

mydatabase = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Ujjwal@0608",
    database="BankData",   
    use_pure=True
)

print("Connection successful!")

In [ ]:
cursor = mydatabase.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Customers(
    customer_id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(50),
    gender VARCHAR(1),
    age INT,
    city VARCHAR(50),
    account_type VARCHAR(20),
    join_date DATE
)
''')

In [ ]:
for _,rows in Customers.iterrows():
    
    try:
        cursor.execute('''
        INSERT INTO Customers
        (customer_id, name, gender, age, city, account_type, join_date)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
        ''',(
        rows['customer_id'],
        rows['name'],
        rows['gender'],
        rows['age'],
        rows['city'],
        rows['account_type'],
        rows['join_date']
        ))
        mydatabase.commit()
    except mysql.connector.IntegrityError:
        print("Customers Table inserted!")

# Accounts Table

In [ ]:
Accounts

In [ ]:
Accounts.isnull().sum().any()

In [ ]:
Accounts.info()

In [ ]:
Accounts['last_updated'] = pd.to_datetime(Accounts['last_updated'], format = '%Y-%m-%d %H:%M:%S')

In [ ]:
cursor = mydatabase.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Accounts(
    customer_id VARCHAR(10) PRIMARY KEY,
    account_balance FLOAT,
    last_updated DATETIME
)
''')

In [ ]:
for _,rows in Accounts.iterrows():
    
    try:
        cursor.execute('''
        INSERT INTO Accounts
        (customer_id, account_balance, last_updated)
        VALUES (%s, %s, %s)
        ''',(
        rows['customer_id'],
        rows['account_balance'],
        rows['last_updated']
        ))
        mydatabase.commit()
    except mysql.connector.IntegrityError:
        print("Customers Table inserted!")

# Transaction Table

In [ ]:
Transactions

In [ ]:
Transactions.head()

In [ ]:
Transactions.isnull().sum().any()

In [ ]:
Transactions.shape

In [ ]:
Transactions.info()

In [ ]:
Transactions['txn_time'] = pd.to_datetime(Transactions['txn_time'], format = '%Y-%m-%d %H:%M:%S')

In [ ]:
cursor = mydatabase.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Transactions(
    txn_id VARCHAR(10) PRIMARY KEY,
    customer_id VARCHAR(10),
    txn_type VARCHAR(20),
    amount FLOAT,
    txn_time DATETIME, 
    status VARCHAR(10)
)
''')

In [ ]:
for _,rows in Transactions.iterrows():
    
    try:
        cursor.execute('''
        INSERT INTO Transactions
        (txn_id, customer_id, txn_type, amount, txn_time, status)
        VALUES (%s, %s, %s, %s, %s, %s)
        ''',(
        rows['txn_id'],
        rows['customer_id'],
        rows['txn_type'],
        rows['amount'],
        rows['txn_time'],
        rows['status']
        ))
        mydatabase.commit()
    except mysql.connector.IntegrityError:
        print("Customers Table inserted!")

# Loans Table

In [ ]:
Loans

In [ ]:
Loans.head()

In [ ]:
Loans.isnull().sum().any()

In [ ]:
Loans.shape

In [ ]:
Loans.info()

In [ ]:
Loans['Start_Date'] = pd.to_datetime(Loans['Start_Date'], format = '%Y-%m-%d')
Loans['End_Date'] = pd.to_datetime(Loans['End_Date'], format = '%Y-%m-%d')

In [ ]:
cursor = mydatabase.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Loans(
    Loan_ID INT PRIMARY KEY,
    Customer_ID INT,
    Account_ID INT,
    Branch VARCHAR(50),
    Loan_Type VARCHAR(20), 
    Loan_Amount INT,
    Interest_Rate FLOAT,
    Loan_Term_Months INT,
    Start_Date DATE,
    End_Date DATE,
    Loan_Status VARCHAR(10)    
)
''')

In [ ]:
for _,rows in Loans.iterrows():
    
    try:
        cursor.execute('''
        INSERT INTO Loans
        (Loan_ID, Customer_ID, Account_ID, Branch, Loan_Type, Loan_Amount, Interest_Rate, Loan_Term_Months, Start_Date, End_Date, Loan_Status)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        ''',(
        rows['Loan_ID'],
        rows['Customer_ID'],
        rows['Account_ID'],
        rows['Branch'],
        rows['Loan_Type'],
        rows['Loan_Amount'],
        rows['Interest_Rate'],
        rows['Loan_Term_Months'],
        rows['Start_Date'],
        rows['End_Date'],
        rows['Loan_Status']
        ))
        mydatabase.commit()
    except mysql.connector.IntegrityError:
        print("Customers Table inserted!")

# Credit_Cards Table

In [ ]:
Credit_Cards

In [ ]:
Credit_Cards.head()

In [ ]:
Credit_Cards.isnull().sum().any()

In [ ]:
Credit_Cards.columns

In [ ]:
Credit_Cards.shape

In [ ]:
Credit_Cards.info()

In [ ]:
Credit_Cards['Issued_Date'] = pd.to_datetime(Credit_Cards['Issued_Date'], format = '%Y-%m-%d')
Credit_Cards['Expiry_Date'] = pd.to_datetime(Credit_Cards['Expiry_Date'], format = '%Y-%m-%d')

In [ ]:
cursor = mydatabase.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Credit_Cards(
    Card_ID INT PRIMARY KEY,
    Customer_ID INT,
    Account_ID INT,
    Branch VARCHAR(50),
    Card_Number BIGINT, 
    Card_Type VARCHAR(20),
    Card_Network VARCHAR(10),
    Credit_Limit INT,
    Current_Balance FLOAT,
    Issued_Date DATE,
    Expiry_Date DATE,
    Status VARCHAR(10)
)
''')

In [ ]:
for _,rows in Credit_Cards.iterrows():
    
    try:
        cursor.execute('''
        INSERT INTO Credit_Cards
        (Card_ID, Customer_ID, Account_ID, Branch, Card_Number, Card_Type, Card_Network, Credit_Limit, Current_Balance, Issued_Date, Expiry_Date, Status)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        ''',(
        rows['Card_ID'],
        rows['Customer_ID'],
        rows['Account_ID'],
        rows['Branch'],
        rows['Card_Number'],
        rows['Card_Type'],
        rows['Card_Network'],
        rows['Credit_Limit'],
        rows['Current_Balance'],
        rows['Issued_Date'],
        rows['Expiry_Date'],
        rows['Status']
        ))
        mydatabase.commit()
    except mysql.connector.IntegrityError:
        print("Customers Table inserted!")

# Branchs Table

In [ ]:
Branchs

In [ ]:
Branchs.head()

In [ ]:
Branchs.isnull().sum().any()

In [ ]:
Branchs.shape

In [ ]:
Branchs.info()

In [ ]:
Branchs['Opening_Date'] = pd.to_datetime(Branchs['Opening_Date'], format = '%Y-%m-%d')

In [ ]:
cursor = mydatabase.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Branchs(
    Branch_ID INT PRIMARY KEY,
    Branch_Name VARCHAR(40),
    City VARCHAR(40),
    Manager_Name VARCHAR(40),
    Total_Employees INT,
    Branch_Revenue FLOAT,
    Opening_Date DATE,
    Performance_Rating INT
)
''')

In [ ]:
for _,rows in Branchs.iterrows():
    
    try:
        cursor.execute('''
        INSERT INTO Branchs
        (Branch_ID, Branch_Name, City, Manager_Name, Total_Employees, Branch_Revenue, Opening_Date, Performance_Rating)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
        ''',(
        rows['Branch_ID'],
        rows['Branch_Name'],
        rows['City'],
        rows['Manager_Name'],
        rows['Total_Employees'],
        rows['Branch_Revenue'],
        rows['Opening_Date'],
        rows['Performance_Rating']
        ))
        mydatabase.commit()
    except mysql.connector.IntegrityError:
        print("Customers Table inserted!")

# Support Tickets Table

In [ ]:
Support_Tickets

In [ ]:
Support_Tickets['Date_Closed'].unique()

In [ ]:
Support_Tickets.head()

In [ ]:
Support_Tickets.isnull().sum().any()

In [ ]:
Support_Tickets['Loan_ID'] = Support_Tickets['Loan_ID'].replace([''], np.nan)

In [ ]:
Support_Tickets.isnull().sum()

In [ ]:
Support_Tickets.shape

In [ ]:
Support_Tickets.info()

In [ ]:
Support_Tickets['Date_Opened'] = pd.to_datetime(Support_Tickets['Date_Opened'], format = '%Y-%m-%d')
Support_Tickets['Date_Closed'] = pd.to_datetime(Support_Tickets['Date_Closed'], format = '%Y-%m-%d')

In [ ]:
# Filled 
Support_Tickets['Date_Closed'] = Support_Tickets['Date_Closed'].fillna(pd.Timestamp('2000-01-01'))

In [ ]:
Support_Tickets

In [ ]:
cursor = mydatabase.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Support_Tickets(
    Ticket_ID VARCHAR(20) PRIMARY KEY,
    Customer_ID VARCHAR(20),
    Account_ID VARCHAR(20),
    Loan_ID INT NULL,
    Branch_Name VARCHAR(50), 
    Issue_Category VARCHAR(50),
    Description VARCHAR(50),
    Date_Opened DATE,
    Date_Closed DATE,
    Priority VARCHAR(40),
    Status VARCHAR(20),
    Resolution_Remarks VARCHAR(50),
    Support_Agent VARCHAR(50),
    Channel VARCHAR(50),
    Customer_Rating INT
)
''')

In [ ]:
for _,rows in Support_Tickets.iterrows():
    
    try:
        cursor.execute('''
        INSERT INTO Support_Tickets
        (Ticket_ID, Customer_ID, Account_ID, Loan_ID, Branch_Name, Issue_Category, Description, Date_Opened, Date_Closed, Priority, Status, Resolution_Remarks, Support_Agent, Channel, Customer_Rating)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s)
        ''',(
        rows['Ticket_ID'],
        rows['Customer_ID'],
        rows['Account_ID'],
        rows['Loan_ID'],
        rows['Branch_Name'],
        rows['Issue_Category'],
        rows['Description'],
        rows['Date_Opened'],
        rows['Date_Closed'],
        rows['Priority'],
        rows['Status'],
        rows['Resolution_Remarks'],
        rows['Support_Agent'],
        rows['Channel'],
        rows['Customer_Rating']
        ))
        mydatabase.commit()
    except mysql.connector.IntegrityError:
        print("Customers Table inserted!")

# Stremlit Coding

In [1]:
%%writefile app.py
import streamlit as st
from streamlit_option_menu import option_menu

# Connecting to mysql 
import mysql.connector
import pandas as pd

@st.cache_resource
def get_connection():
    return mysql.connector.connect(
    host = '127.0.01',
    user = 'root',
    password = 'Ujjwal@0608',
    database = 'BankData',
    use_pure = True
    )

def get_primary_key(table_name):
    conn = get_connection()
    cursor = conn.cursor()
    cursor.execute(f"SHOW KEYS FROM {table_name} WHERE Key_name = 'PRIMARY'")
    pk = cursor.fetchone()[4]
    cursor.close()
    return pk

def get_columns(table_name):
    conn = get_connection()
    cursor = conn.cursor()
    cursor.execute(f"DESCRIBE {table_name}")
    column = cursor.fetchall()
    cursor.close()
    return column
    

st.set_page_config(layout = 'wide')

# Use of CSS for Better Visuals 

st.markdown('''
    <style>
    section[data-testid = 'stSidebar']{
        width : 380px !important;
    }
    section[data-testid = 'stSidebar'] > div{
        width : 380px !important;
    }
    </style>
    ''',
    unsafe_allow_html = True
)

# SideBox
with st.sidebar:
    select = option_menu(
        menu_title = 'BankSight Navigation',
        options = ['Introduction', 'View Table', 'Filter Data', 'CRUD Operation', 'Credit/Debit Simulation', 'Analytical Insight', 'About Creator'],
        icons =['house', 'bar-chart', 'search', 'pencil', 'cash-coin', 'cpu', 'folder'],
        menu_icon = 'bank',
        default_index = 0
    )
    
# Page 1 Start
if select == 'Introduction':
    st.title('üè¶ BankSight : Transaction Intelligence Dashboard')
    st.subheader('Project Overview')
    st.markdown('''
    **BankSight** is a financial analytics system built using **Python, Streamlit, and SQLite**.
    It allows user to explor Cutomers, Accounts, Transactions, Loans, and Support Data perform 
    CRUD operations, simulate deposit and withdrawls, and gain actionable insights.
    ''')
    st.subheader('Objective')
    st.markdown('''
    <ul>
    <li> Understand customer and Transaction behaviour </li>  
    <li> Detect anomalies and potential fraud</li>
    <li> Enable CRUD Operation in all dataset</li>
    <li>  Simulate Banking Transaction (Credit/Debit)</li>
    </ul>
    ''',unsafe_allow_html = True)
    
# Page 2 Started
elif select == 'View Table':
    st.title('üìä View Database Tables')
    
    conn = get_connection()
    table_name = st.selectbox(
        'Select a Table',
        ['Customers', 'Accounts', 'Transactions', 'Loans', 'Credit_Cards', 'Branchs', 'Support_Tickets']
    )
    
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql(query, conn)
    
    st.dataframe(df, use_container_width = True)
# Page 3 Started
elif select == 'Filter Data':
    st.title('üîç Filter Data')
    
    conn = get_connection()
    # Selecting the table 
    table_name = st.selectbox(
    'Select Table To Filter',
    ['Customers', 'Accounts', 'Transactions', 'Loans', 'Credit_Cards', 'Branchs', 'Support_Tickets']
    )
    # Loading the Table
    df = pd.read_sql(f'SELECT * FROM {table_name}', conn)
    st.markdown('### Select column and values to filter:')
    #Creating a filter 
    
    filters = {}
    for col in df.columns:
        unique_values = df[col].dropna().unique()
        
        selected_values = st.multiselect(
            label = f'{col}:',
            options = sorted(map(str, unique_values)),
            placeholder = 'Choose an option'
        )
        if selected_values:
            filters[col] = selected_values
    
    filtered_df = df.copy()
    for col, values in filters.items():
        filtered_df = filtered_df[
            filtered_df[col].astype(str).isin(values)
        ]
    # Sucess Message
    if filters:
        st.success("Data Filtered Sucessfully")
        
    st.dataframe(filtered_df, use_container_width = True)
    
# Page 3 Started   
elif select == 'CRUD Operation':
    st.title('‚úèÔ∏è CRUD Operation')
    conn = get_connection()
    table_name = st.selectbox(
        'Select Table',
        ['Customers', 'Accounts', 'Transactions', 'Loans', 'Credit_Cards', 'Branchs', 'Support_Tickets'] 
    )
    operation = st.radio(
        'Select Operation',
        ['View', 'Add', 'Update', 'Delete']
    )
    pk = get_primary_key(table_name)
    columns = get_columns(table_name)
    column_name = [col[0] for col in columns]
    
    
    if operation == 'View':
        df = pd.read_sql(f"SELECT * FROM {table_name}", conn)
        st.dataframe(df, use_container_width = True)
        
    elif operation == 'Add':
        st.subheader(f'+ Add New Record To {table_name}')
        
        input_data = {}
        
        for col, dtype, *_ in columns:
            if 'date' in col.lower():
                input_data[col] = st.date_input(f'Enter {col}')
            else:
                input_data[col] = st.text_input(f'Enter {col}')
                
        if st.button('Insert Record'):
            placeholders = ",".join(["%s"] * len(input_data))
            col_name = ",".join(input_data.keys())
            
            query = f"INSERT INTO {table_name} ({col_name}) VALUES ({placeholders})"
            
            cursor = conn.cursor()
            cursor.execute(query, tuple(input_data.values()))
            conn.commit()

            
            st.success('Record Inserted Successfully!')
        
    elif operation == 'Update':
        st.subheader(f'Update Records in {table_name}')
        
        df = pd.read_sql(f'SELECT * FROM {table_name}', conn)
        
        selected_pk = st.selectbox(
            f'Select {pk} to Update',
            df[pk].astype(str).unique()
        )
        column_to_update = st.selectbox(
            'Select Column to Update',
            column_name
        )
        new_value = st.text_input('Enter the New Value')
        
        if st.button('Update Records'):
            query = f"""
            UPDATE {table_name}
            SET {column_to_update} = %s
            WHERE {pk} = %s
            """
            
            cursor = conn.cursor()
            cursor.execute(query, (new_value, selected_pk))
            conn.commit()

            
            st.success('Record updated successfully!')
            
    elif operation == 'Delete':
        st.subheader(f'üóëÔ∏è Delete Record from {table_name}')
            
        df = pd.read_sql(f'SELECT * FROM {table_name}', conn)
            
        delete_pk = st.selectbox(
            f'Select {pk} to Delete',
            df[pk].astype(str).unique()
        )
            
        confirm = st.checkbox('I confirm I want to Delete this Record')
            
        if st.button('Delete Record') and confirm:
            query = f'DELETE FROM {table_name} WHERE {pk} = %s'
                
            cursor = conn.cursor()
            cursor.execute(query, (delete_pk,))
            conn.commit()
            
                
            st.success('Record Deleted Successfully')
            
# Page 4 Started
elif select == 'Credit/Debit Simulation':
    st.subheader('üí∞Credit/Debit Simulation')
    conn = get_connection()
    cursor = conn.cursor()
    
    account_id = st.text_input('Enter Account id')
    amount = st.number_input('Enter Amount', min_value = 0.0, step = 100.0)
    
    action = st.radio(
        'Select Action',
        ['Check Balance', 'Deposit', 'WithDrawl']
    )
    if st.button('Submit'):
        
        cursor.execute(
            "SELECT account_balance FROM Accounts WHERE customer_id = %s",
            (account_id,)
        )
        result = cursor.fetchone()
        
        if not result:
            st.error('‚ùå Account ID Not Found')

            st.stop()
        current_balance = float(result[0])
        
        if action == 'Check Balance':
            st.success(f"Current Balance: ‚Çπ{current_balance: .2f}")
            
        elif action == 'Deposit':
            if amount <= 0:
                st.warning('‚ö†Ô∏è Enter a Valid Amount')
            else:
                new_balance = current_balance + amount
                cursor.execute(
                    "UPDATE Accounts SET account_balance = %s WHERE customer_id = %s",
                    (new_balance, account_id)
                )
                conn.commit()
                st.success(f'‚úÖ Deposit Successful! New Balance: ‚Çπ{new_balance: .2f}')
                
        elif action == 'WithDrawl':
            if amount <= 0:
                st.warning('‚ö†Ô∏è Enter a Valid Amount')
            elif current_balance - amount <1000:
                st.error('‚ùå Minimum Balance 1000 must be maintained')
            else:
                new_balance = current_balance - amount
                cursor.execute(
                    'UPDATE Accounts SET account_balance = %s WHERE customer_id = %s',
                    (new_balance, account_id)
                )
                conn.commit()
                st.success(f"‚úÖ Withdrawl Successful! New Balance: ‚Çπ{new_balance: .2f}")
                
        
                
    
    
    
    
elif select == 'Analytical Insight':
    st.title("üß† Analytical Insights")

    conn = get_connection()

    insights = {
        "Q1: Customers per city & average account balance": """
            SELECT 
                c.city,
                COUNT(DISTINCT(c.customer_id)) as Total_Customer,
                AVG(a.account_balance) as AVG_Account_Balance
                FROM Customers as c
            JOIN Accounts as a
                ON c.customer_id = a.customer_id
            GROUP BY c.city

        """,

        "Q2: Account type with highest total balance": """
            SELECT 
                account_type,
                SUM(account_balance) as Total_Balance
            FROM Customers as c
            JOIN Accounts as a
                  ON c.customer_id = a.customer_id
            GROUP BY account_type
        """,

        "Q3: Top 10 customers by total account balance": """
            SELECT
                c.customer_id,
                c.name,
                SUM(account_balance) as total_balance
            FROM Customers as c
            JOIN Accounts as a 
                ON c.customer_id = a.customer_id
            GROUP BY c.customer_id, c.city
            ORDER BY a.account_balance desc
            LIMIT 10
        """,

        "Q4: Customers who opened accounts in 2023 with balance > ‚Çπ1,00,000": """
            SELECT 
                c.customer_id,
                c.name,
                a.account_balance,
                c.join_date
            FROM Customers as c
            JOIN Accounts as a 
                ON c.customer_id = a.customer_id
            WHERE YEAR(c.join_date) = 2023 
            AND a.account_balance > 100000;
        """,

        "Q5: Total transaction volume by transaction type": """
            SELECT
                txn_type,
                SUM(amount) AS Total_amount
            FROM Transactions
            GROUP BY txn_type 
            ORDER BY Total_amount DESC
        """,

        "Q6: Failed transactions per transaction type": """
            SELECT 
                txn_type as Transaction_Type,
                COUNT(*) as Failed_Transactions
            FROM Transactions
            WHERE status = 'failed'
            GROUP BY txn_type;
        """,

        "Q7: Total number of transactions per type": """
            SELECT transaction_type,
                   COUNT(*) AS total_transactions
            FROM Transactions
            GROUP BY transaction_type
        """,

        "Q8: Accounts with ‚â•5 transactions above ‚Çπ20,000": """
            SELECT
                customer_id,
                count(*) as High_Transactions
            FROM Transactions
            WHERE amount > 20000
            GROUP BY customer_id
            HAVING COUNT(*) >= 5
        """,

        "Q9: Average loan amount & interest rate by loan type": """
            SELECT
                Loan_Type,
                avg(Loan_Amount) as Average_Amount,
                avg(Interest_Rate) as Average_Interest
            FROM Loans
            GROUP BY Loan_Type
        """,

        "Q10: Customers with more than one active/approved loan": """
            SELECT 
                Customer_ID,
                COUNT(*) as Active_loan
            FROM Loans
            WHERE Loan_Status in ('Active', 'Approved')
            GROUP BY Customer_ID
            HAVING COUNT(*) > 1;
        """,

        "Q11: Top 5 customers with highest outstanding loan amounts": """
            SELECT customer_id,
                   SUM(loan_amount) AS outstanding_amount
            FROM Loans
            WHERE loan_status != 'Closed'
            GROUP BY customer_id
            ORDER BY outstanding_amount DESC
            LIMIT 5
        """,

        "Q12: Average loan amount per branch": """
            SELECT Branch,
                   ROUND(AVG(Loan_Amount), 2) AS Avg_loan_amount
            FROM Loans
            GROUP BY Branch
        """,

        "Q13: Customers per age group": """
            SELECT
                CASE
                    WHEN age BETWEEN 18 AND 25 THEN '18‚Äì25'
                    WHEN age BETWEEN 26 AND 35 THEN '26‚Äì35'
                    WHEN age BETWEEN 36 AND 50 THEN '36‚Äì50'
                    ELSE '50+'
                END AS age_group,
                COUNT(*) AS customer_count
            FROM Customers
            GROUP BY age_group
        """,

        "Q14: Issue categories with longest average resolution time": """
            SELECT issue_category,
                   ROUND(AVG(DATEDIFF(date_closed, date_opened)), 2) AS avg_resolution_days
            FROM Support_Tickets
            WHERE date_closed IS NOT NULL
            GROUP BY issue_category
            ORDER BY avg_resolution_days DESC
        """,

        "Q15: Support agents resolving most critical tickets (rating ‚â• 4)": """
            SELECT support_agent,
                   COUNT(*) AS resolved_tickets
            FROM Support_Tickets
            WHERE priority = 'Critical'
              AND customer_rating >= 4
            GROUP BY support_agent
            ORDER BY resolved_tickets DESC
        """
    }

    selected_question = st.selectbox(
        "Select an analytical question",
        list(insights.keys())
    )

    sql_query = insights[selected_question]

    st.markdown("### üßæ SQL Query Used")
    st.code(sql_query, language="sql")

    df = pd.read_sql(sql_query, conn)

    st.markdown("### üìä Result")
    st.dataframe(df, use_container_width=True)
    
    
# Last page 
elif select == 'About Creator':

    st.title("üë©‚Äçüíª About the Creator")

    col1, col2 = st.columns([1, 2])

    with col1:
        st.markdown("### Profile Photo")
        st.image('/Users/ujjwalraj/Desktop/IMG_1973.png', width=200)

    with col2:
        st.markdown("## Ujjwal Raj")
        st.markdown("### Aspiring Data Scientist")

        st.markdown("""
        I am a **fresher aspiring Data Scientist** with a strong foundation in data analysis, 
        machine learning, and data-driven application development.  
        
        I am actively seeking opportunities to **start my career as a Data Scientist**, where I can 
        apply my analytical skills, problem-solving mindset, and passion for learning to solve 
        real-world business problems‚Äîespecially in domains like **banking and finance**.
        """)

    st.divider()

 
    st.subheader("üõ†Ô∏è Technical Expertise")

    st.markdown("""
    - **Programming & DSA:** Python  
    - **Databases & SQL:** MySQL, SQLite, Query Optimization  
    - **Data Analysis:** EDA, Data Cleaning, Feature Engineering  
    - **Machine Learning:** Regression, Classification, Clustering  
    - **Deep Learning:** Neural Networks, CNNs  
    - **Computer Vision:** Image Processing, Model Building  
    - **NLP:** Text Processing, Tokenization, ML-based NLP  
    - **Data Engineering:** ETL Concepts, Data Pipelines  
    - **Deployment & Apps:** Streamlit  
    - **Cloud Basics:** AWS  
    """)

    st.divider()


    st.subheader("üìä Project Focus")

    st.markdown("""
    **BankSight ‚Äì Transaction Intelligence Dashboard**

    - End-to-end data analytics project using **Python, SQL, and Streamlit**
    - Implements **CRUD operations**, **transaction simulations**, and **analytical insights**
    - Uses **real-world banking datasets** to answer business-driven questions
    - Designed with **scalability, transparency, and usability** in mind
    """)

    st.divider()


    st.subheader("üì¨ Contact Information")

    st.markdown("""
    <ul>
    <li>üìß **Email : ujjwalraj6aug@gmail.com</li>
    <li>üíº **LinkedIn : www.linkedin.com/in/ujjwalraj06</li>  
    </ul>
    """, unsafe_allow_html = True)

    st.caption("üöÄ Open to Data Scientist/ML Engineer entry-level opportunities")

Overwriting app.py

In [ ]:
!streamlit run app.py

  You can now view your Streamlit app in your browser.

  Local URL: http://localhost:8501
  Network URL: http://192.168.1.6:8501